<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body class="bg-danger">
	<header th:replace="plantilla/template :: header"></header>
	<div class="container">
	
		<br>
		<h1 class="text-center" th:text="${titulo}"></h1>
		<br> <a class="btn btn-primary btn-sm bg-dark"
			th:href="@{/views/crear}" th:text="'Crear nuevo coche'"
			title="Crear nuevo coche"></a> <br> <br>

		<table class="table table-dark table-striped text-center">
			<thead>
				<tr>
					<th scope="col">No.</th>
					<th scope="col">Marca</th>
					<th scope="col">Modelo</th>
					<th scope="col">Precio</th>
					<th scope="col">Puertas</th>
					<th scope="col">CV</th>
					<th scope="col">Kil&oacute;metros</th>
					<th scope="col"></th>
					<th scope="col"><a class="btn btn-danger btn-sm"  th:text="'Eliminar'"
						title="Eliminar coche" th:href="@{/views/borrar/}"></a></th>
					

				</tr>
			</thead>
			<tbody>
				<tr th:each="c , tabla: ${coches}">
					<td th:text="${tabla.count}"></td>
					<th scope="row" th:text="${c.marca}"></th>
					<td th:text="${c.modelo}"></td>
					<td th:text="${c.precio}"></td>
					<td th:text="${c.numPuertas}"></td>
					<td th:text="${c.cv}"></td>
					<td th:text="${c.km}"></td>
					<td><a class="btn btn-success btn-sm"
						th:href="@{/views/editar/} + ${c.id}" th:text="'Editar'"
						title="Editar coche"></a></td>

					<td><input type="checkbox" th:value="${c.id}" th:text="${c.id}"></td>

					

				</tr>


			</tbody>
		</table>
		
		
	</div>
	<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>